@page "/counter"

<h1>Cat Counter</h1>

<p role="status">
<RadzenButton Click="IncrementCount" Text="Get even more cats"></RadzenButton>

    Current count: @currentCount
</p>

@for (int i = 0; i < currentCount; i++)
{
    <PlaceKitten Random="true"></PlaceKitten>
}

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

}
