@page "/fetchdata"

<PageTitle>Breeds</PageTitle>

@using Meowie.Lib.Data
@using Meowie.Lib.Services
@inject CatFactsClient CatFactsClient

<h1>Breeds</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (_breeds == null)
{
    <p><em>Loading...</em></p>
}
else
{


     <RadzenDataGrid AllowFiltering="true" AllowColumnResize="true" FilterMode="FilterMode.Advanced" AllowSorting="true" PageSize="5" AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true"
        Data="@_breeds" TItem="Breed" LogicalFilterOperator="LogicalFilterOperator.Or">
        <Columns>
            <RadzenDataGridColumn TItem="Breed" Property="Name"  Title="Name"  />
           
            <RadzenDataGridColumn TItem="Breed" Property="Country" Title="Country"  />
            <RadzenDataGridColumn TItem="Breed" Property="Origin" Title="Origin"   />
            <RadzenDataGridColumn TItem="Breed" Property="Coat" Title="Coat" />
            <RadzenDataGridColumn TItem="Breed" Property="Pattern" Title="Pattern" />


        </Columns>
    </RadzenDataGrid>
}

@code {

    private IEnumerable<Breed>? _breeds;

    protected override async Task OnInitializedAsync()
    {
        _breeds = await CatFactsClient.GetBreedsAsync();
    }
}
