@page "/kittens"
<h3>Kittens</h3>

<div class="kittens-border">
   
    
    <PlaceKitten Width="50" Height="50"></PlaceKitten>
    <PlaceKitten Width="100" Height="100"></PlaceKitten>
    <PlaceKitten Width="150" Height="250"></PlaceKitten>
    <PlaceKitten Width="300" Height="300"></PlaceKitten>
</div>
@code {

}
