@page "/"
@inject IBackendUrlProvider BackendUrlProvider
<PageTitle>Meowie Blazor</PageTitle>
<h3>Meowie Blazor</h3>
<PlaceKitten Width="400" Height="260"></PlaceKitten>
<p></p>
<div>
    <CatFacts></CatFacts>
</div>