@page "/compass"
@using Microsoft.Maui.Devices.Sensors
@using Meowie.Lib.Services
@using Meowie.Services
@inject StateContainerService stateService
@*just life cycle issues, lol*@
@inject CompassService CompassService
@implements IDisposable

<h3>Compass monitoring: @Compass.IsMonitoring</h3>
@stateService.CompassHeadingMagneticNorth 

@code {

    protected override async Task OnInitializedAsync()
    {
        stateService.OnStateChange += StateHasChanged;
    }

    public void Dispose()
    {
        stateService.OnStateChange -= StateHasChanged;
    }
}